.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 250px;
  text-align: center;
  margin-top: 1px;
}

.container h2 {
  color: white;
  text-align: center;
}


.gridContainer{
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   width: 100%;
   height: 100%;
}

.gridItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 150px;
  height: 150px;
  border-radius: 10px;
  border: 4px #7F53ACCC solid;
  background-color: #00000080;
  color: rgb(215, 156, 255);
  font-size: 14px;
  margin-right: 1em;
  position: relative;
  overflow: hidden;
}

.gridItem p {
  margin: 0;
}

.gridItem p:first-child {
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 5px;
}

.gridItem p:last-child {
  font-size: 12px;
}

.gridItemContent {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background-color:#00000080;
  bottom: 0;
  padding: 5px
}

.gridItem button {
  position: absolute;
  left: 0;
  z-index: 1;
  width: 20px;
  height: 15px;
  border-radius: 5px;
  border: 0;
  margin-left: 5px;
  margin-top: 5px;
  background-color: red;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.gridNoItems{
  display:flex;
  align-items: center;
  max-height: 25%;
  background-color: #00000080;
  color: white;
  border-radius: 10px;
  padding: 1em;
  margin: 0 auto;
}